body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1359px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:664px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:664px;
  display:flex;
}
#u947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:514px;
  height:31px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:463px;
  width:498px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-76.0942275736841deg);
  -moz-transform:rotate(-76.0942275736841deg);
  -ms-transform:rotate(-76.0942275736841deg);
  transform:rotate(-76.0942275736841deg);
}
#u948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u949_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:714px;
  width:30px;
  height:40px;
  display:flex;
}
#u949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:726px;
  width:84px;
  height:16px;
  display:flex;
}
#u950 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u950_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:759px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u952 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:759px;
  width:110px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u953 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u953_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:767px;
  width:13px;
  height:13px;
  display:flex;
}
#u954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:787px;
  width:176px;
  height:59px;
  display:flex;
}
#u955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:766px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:797px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u957_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:823px;
  width:72px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u958 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u958_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:1010px;
  width:350px;
  height:16px;
  display:flex;
}
#u959 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u959_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1040px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u961 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:1040px;
  width:110px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u962 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u962_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:1092px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u964 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:1092px;
  width:98px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u965 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:1047px;
  width:60px;
  height:14px;
  display:flex;
  font-size:12px;
}
#u966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u966_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:714px;
  width:30px;
  height:40px;
  display:flex;
}
#u967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:726px;
  width:168px;
  height:16px;
  display:flex;
}
#u968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:508px;
  height:31px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:478px;
  width:492px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-81.5906685930448deg);
  -moz-transform:rotate(-81.5906685930448deg);
  -ms-transform:rotate(-81.5906685930448deg);
  transform:rotate(-81.5906685930448deg);
}
#u969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:815px;
  top:767px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u971 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:767px;
  width:134px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u972 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:795px;
  width:176px;
  height:59px;
  display:flex;
}
#u973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:805px;
  width:84px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:831px;
  width:84px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:876px;
  width:378px;
  height:16px;
  display:flex;
}
#u976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:906px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u978 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:906px;
  width:134px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u979 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:958px;
  width:180px;
  height:28px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#0D0D0D;
  text-align:left;
}
#u981 .text {
  position:absolute;
  align-self:center;
  padding:2px 8px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:697px;
  top:958px;
  width:98px;
  height:52px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:right;
  line-height:18px;
}
#u982 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 8px 30px 0px;
  box-sizing:border-box;
  width:100%;
}
#u982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:804px;
  top:913px;
  width:84px;
  height:16px;
  display:flex;
  font-size:12px;
}
#u983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1401px;
  width:30px;
  height:40px;
  display:flex;
}
#u984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:1413px;
  width:574px;
  height:16px;
  display:flex;
}
#u985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u985_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1359px;
  height:228px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1159px;
  width:1359px;
  height:228px;
  display:flex;
}
#u986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-13px;
  width:399px;
  height:31px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:1325px;
  width:383px;
  height:5px;
  display:flex;
  -webkit-transform:rotate(-28.1231187102566deg);
  -moz-transform:rotate(-28.1231187102566deg);
  -ms-transform:rotate(-28.1231187102566deg);
  transform:rotate(-28.1231187102566deg);
}
#u987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1477px;
  width:30px;
  height:40px;
  display:flex;
}
#u988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:1489px;
  width:378px;
  height:48px;
  display:flex;
}
#u989 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u989_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:69px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:850px;
  width:358px;
  height:69px;
  display:flex;
}
#u990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:918px;
  width:362px;
  height:16px;
  display:flex;
}
#u991 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u991_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u992_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:163px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:946px;
  width:326px;
  height:37px;
  display:flex;
}
#u992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
